[submodule "external/dotSCAD"]
	path = external/dotSCAD
	url = https://github.com/JustinSDK/dotSCAD.git
[submodule "external/scad-metric-thread-library"]
	path = external/scad-metric-thread-library
	url = https://github.com/gabfv/scad-metric-thread-library
